In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
movies= pd.read_csv('./DataSets/tmdb_5000_movies.csv')
credits= pd.read_csv('./DataSets/tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
movies=movies.merge(credits,on="title")

In [5]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [6]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [7]:
# ast library is used to convert the string to list of dictionaries by traversing
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [8]:
# drops rows containing null values
movies.dropna(inplace=True)

In [9]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [10]:
# convert3 function gives tyhe top three cast in every movie
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L 

movies['cast'] = movies['cast'].apply(convert3)

In [11]:

# fetch dorector fetches the director through traversing whole dictionary for every movie
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L 

movies['crew'] = movies['crew'].apply(fetch_director)

In [12]:
new_df = movies[['movie_id', 'cast', 'crew']].copy()
pickle.dump(new_df, open('castcrew.pkl', 'wb'))
#print(new_df)

In [13]:
# collapse function returns the names of each cast,crew,genres which dont have space in between in each word of respective names
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [14]:
movies['overview'] = movies['overview'].apply(lambda x:x.split()) #split function used to return the list of words in string

# tags do contain union of overview, genres,keywords, cast and crew
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
new['tags'] = new['tags'].apply(lambda x: " ".join(x))#it gives a  string formed from each word in list before

In [18]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
Collecting tqdm
  Using cached tqdm-4.65.0-py3-none-any.whl (77 kB)
Requirement already satisfied: joblib in c:\users\hp\appdata\roaming\python\python39\site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3
  Downloading regex-2023.5.5-cp39-cp39-win_amd64.whl (267 kB)
Requirement already satisfied: click in c:\users\hp\appdata\roaming\python\python39\site-packages (from nltk) (8.1.3)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\hp\appdata\roaming\python\python39\site-packages (from tqdm->nltk) (0.4.6)
Installing collected packages: tqdm, regex, nltk
Successfully installed nltk-3.8.1 regex-2023.5.5 tqdm-4.65.0

WARNING: You are using pip version 20.2.3; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\program files\python39\python.exe -m pip install --upgrade pip' command.

In [19]:
# porterstemmer from nltk library used to remove duplicate words in different verb forms like dance,dancing,dancer,danced.. and replaces with a single word danc 
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

# function to use portstemmer for tag of each movie
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)
new["tags"]=new["tags"].apply(stem)

In [23]:
!pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeable

WARNING: You are using pip version 20.2.3; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\program files\python39\python.exe -m pip install --upgrade pip' command.

Collecting scikit-learn
  Using cached scikit_learn-1.2.2-cp39-cp39-win_amd64.whl (8.4 MB)
Collecting scipy>=1.3.2
  Using cached scipy-1.10.1-cp39-cp39-win_amd64.whl (42.5 MB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied, skipping upgrade: numpy>=1.17.3 in c:\users\hp\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied, skipping upgrade: joblib>=1.1.1 in c:\users\hp\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.2.0)
Installing collected packages: scipy, threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0

In [24]:
# We are converting string to vector such that we can find similarity between movies through by distances between each vector
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')#max_features gives maximum number of repeated words and stop words ignores in,of,the,.. from sentences in tags

In [25]:
vector = cv.fit_transform(new['tags']).toarray()

# we are calculating the distances between vectors through the cosine angle between them
from sklearn.metrics.pairwise import cosine_similarity
# similarity do consists of similarness of a movie with each other movie
similarity = cosine_similarity(vector)

In [26]:
# recommend function prints the top five movies which has more simmilarit with given movie
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])#enumerate function gives list of tuples which do stores index of each movie similarness with other which uses after sorting
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [27]:
# pickle used to import data frames to .pkl file to local systems
import pickle
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [28]:
cc = pd.read_pickle("castcrew.pkl")
print(cc)

      movie_id                                               cast  \
0        19995   [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1          285      [Johnny Depp, Orlando Bloom, Keira Knightley]
2       206647       [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]
3        49026       [Christian Bale, Michael Caine, Gary Oldman]
4        49529     [Taylor Kitsch, Lynn Collins, Samantha Morton]
...        ...                                                ...
4804      9367  [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805     72766       [Edward Burns, Kerry BishÃ©, Marsha Dietlein]
4806    231617         [Eric Mabius, Kristin Booth, Crystal Lowe]
4807    126186          [Daniel Henney, Eliza Coupe, Bill Paxton]
4808     25975  [Drew Barrymore, Brian Herzlinger, Corey Feldman]

                                          crew
0                              [James Cameron]
1                             [Gore Verbinski]
2                                 [Sam Mendes]
3                          [Christopher Nolan]
4                             [Andrew Stanton]
...                                        ...
4804                        [Robert Rodriguez]
4805                            [Edward Burns]
4806                             [Scott Smith]
4807                             [Daniel Hsia]
4808  [Brian Herzlinger, Jon Gunn, Brett Winn]

[4806 rows x 3 columns]